<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED. Released for free under the Creative Commons Attribution License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="{{ url_for('static', filename='default.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static', filename='fonts.css') }}" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
<!-- mpict0: generic bokeh links in head tag. Currently not used - inserted directly in the template -->

    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.css" type="text/css" />
	<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.2.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.js"></script><script type="text/javascript">    Bokeh.set_log_level("info");        
    </script>
	<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.2.min.js"></script>
</head>
<body>

<div id="page-wrapper">
	<div id="page" class="container">
		<div class="title">
			<h2>Cryptoinvestor app</h2>
		</div>
		<p> Your trusty sidekick in the world of Bitcoin trading </p>
		<p> (in development)</p>
	</div>
</div>
<!--
        <style>
          html {
            width: 100%;
            height: 100%;
          }
          body {
            width: 90%;
            height: 100%;
            margin: auto;
          }
        </style>
-->   
        <div class="general-info">
			<center> <h4> BTC last daily price on different cryptocurrency exchanges <br> Size of the circle represents daily trading volume </h4> </center>
        </div>
		<center>
		<div class='plots'>
		<!-- mpict1: insert plot div and scipt here -->
			<h4> BTC price on btc-e vs Google trend for the word "Bitcoin" </h4>
			<IMG WIDTH=50% STYLE="border: none;" SRC="https://s3.amazonaws.com/dataincplots/dataincubplot1_combined.png" ALT="Google trends vs BTC price">
		</div>
		</center>
    </body>
</html>